logic-app-trip-monitoring.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_events_are_available_in_Event_Hub": {
                "recurrence": {
                    "interval": 1,
                    "frequency": "Minute"
                },
                "evaluatedRecurrence": {
                    "interval": 1,
                    "frequency": "Minute"
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['eventhubs']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent('my-event')}/events/batch/head",
                    "queries": {
                        "contentType": "application/octet-stream",
                        "consumerGroupName": "$Default",
                        "maximumEventsCount": 10
                    }
                }
            }
        },
        "actions": {
            "Parse_JSON": {
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@outputs('Compose')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "ContentData": {
                                "type": "object",
                                "properties": {
                                    "vendorID": {
                                        "type": "string"
                                    },
                                    "tripDistance": {
                                        "type": "string"
                                    },
                                    "passengerCount": {
                                        "type": "string"
                                    },
                                    "paymentType": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Compose": {
                "runAfter": {},
                "type": "Compose",
                "inputs": "@base64ToString(triggerBody()?['ContentData'])"
            },
            "my-fnc-app-analyze_trip": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Function",
                "inputs": {
                    "body": "@body('Parse_JSON')",
                    "function": {
                        "id": "/subscriptions/608b04cc-669f-4c7c-8682-aef963f6ac3e/resourceGroups/CST8917/providers/Microsoft.Web/sites/my-fnc-app/functions/analyze_trip"
                    }
                }
            },
            "For_each": {
                "foreach": "@body('my-fnc-app-analyze_trip')",
                "actions": {
                    "Condition": {
                        "actions": {
                            "Condition_1": {
                                "actions": {
                                    "Post_card_in_a_chat_or_channel": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "recipient": {
                                                    "groupId": "a1eb63d2-92c4-4f5c-91be-98ea69ab03cb",
                                                    "channelId": "19:6ndz7WFob58yNoIGwTXW8kf9ouLLceVZLd9l4KPJRZ81@thread.tacv2"
                                                },
                                                "messageBody": "  {\n  \"type\": \"AdaptiveCard\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"⚠️ Suspicious Vendor Activity Detected\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Large\",\n      \"color\": \"Attention\"\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        { \"title\": \"Vendor\", \"value\": \"@{items('For_each')?['vendorID']}\" },\n        { \"title\": \"Distance (mi)\", \"value\": \"@{items('For_each')?['tripDistance']}\" },\n        { \"title\": \"Passengers\", \"value\": \"@{items('For_each')?['passengerCount']}\" },\n        { \"title\": \"Payment\", \"value\": \"@{items('For_each')?['paymentType']}\" },\n        { \"title\": \"Insights\", \"value\": \"@{join(items('For_each')?['insights'], ', ')}\" }\n      ]\n    }\n  ],\n  \"actions\": [],\n  \"version\": \"1.2\"\n}"
                                            },
                                            "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Post_card_in_a_chat_or_channel_1": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "recipient": {
                                                        "groupId": "a1eb63d2-92c4-4f5c-91be-98ea69ab03cb",
                                                        "channelId": "19:6ndz7WFob58yNoIGwTXW8kf9ouLLceVZLd9l4KPJRZ81@thread.tacv2"
                                                    },
                                                    "messageBody": "  {\n  \"type\": \"AdaptiveCard\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"🚨 Interesting Trip Detected\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Large\",\n      \"color\": \"Attention\"\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        { \"title\": \"Vendor\", \"value\": \"@{items('For_each')?['vendorID']}\" },\n        { \"title\": \"Distance (mi)\", \"value\": \"@{items('For_each')?['tripDistance']}\" },\n        { \"title\": \"Passengers\", \"value\": \"@{items('For_each')?['passengerCount']}\" },\n        { \"title\": \"Payment\", \"value\": \"@{items('For_each')?['paymentType']}\" },\n        { \"title\": \"Insights\", \"value\": \"@{join(items('For_each')?['insights'], ', ')}\" }\n      ]\n    }\n  ],\n  \"actions\": [],\n  \"version\": \"1.2\"\n}"
                                                },
                                                "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                            }
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@contains(items('For_each')?['insights'], 'SuspiciousVendorActivity')",
                                                true
                                            ]
                                        }
                                    ]
                                },
                                "type": "If"
                            }
                        },
                        "else": {
                            "actions": {
                                "Post_card_in_a_chat_or_channel_2": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "recipient": {
                                                "groupId": "a1eb63d2-92c4-4f5c-91be-98ea69ab03cb",
                                                "channelId": "19:6ndz7WFob58yNoIGwTXW8kf9ouLLceVZLd9l4KPJRZ81@thread.tacv2"
                                            },
                                            "messageBody": "  {\n  \"type\": \"AdaptiveCard\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"✅ Trip Analyzed - No Issues\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Large\",\n      \"color\": \"Good\"\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        { \"title\": \"Vendor\", \"value\": \"@{items('For_each')?['vendorID']}\" },\n        { \"title\": \"Distance (mi)\", \"value\": \"@{items('For_each')?['tripDistance']}\" },\n        { \"title\": \"Passengers\", \"value\": \"@{items('For_each')?['passengerCount']}\" },\n        { \"title\": \"Payment\", \"value\": \"@{items('For_each')?['paymentType']}\" },\n        { \"title\": \"Summary\", \"value\": \"@{items('For_each')?['summary']}\" }\n      ]\n    }\n  ],\n  \"actions\": [],\n  \"version\": \"1.2\"\n}"
                                        },
                                        "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "item()?['isInteresting']",
                                        true
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "my-fnc-app-analyze_trip": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "eventhubs": {
                    "id": "/subscriptions/608b04cc-669f-4c7c-8682-aef963f6ac3e/providers/Microsoft.Web/locations/canadacentral/managedApis/eventhubs",
                    "connectionId": "/subscriptions/608b04cc-669f-4c7c-8682-aef963f6ac3e/resourceGroups/CST8917/providers/Microsoft.Web/connections/eventhubs",
                    "connectionName": "eventhubs"
                },
                "teams": {
                    "id": "/subscriptions/608b04cc-669f-4c7c-8682-aef963f6ac3e/providers/Microsoft.Web/locations/canadacentral/managedApis/teams",
                    "connectionId": "/subscriptions/608b04cc-669f-4c7c-8682-aef963f6ac3e/resourceGroups/CST8917/providers/Microsoft.Web/connections/teams",
                    "connectionName": "teams"
                }
            }
        }
    }
}
